@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

.modal-wrapper {
  position: relative;
  z-index: 100;
}

.open-modal-button {
  position: fixed;
  background: none;
  top: 20px;
  right: 20px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 11px;
  border-radius: 12px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  transform: scale(0.9);
}

.modal-content:focus {
  outline: none;
}

.close-modal-button {
  padding: 12px 24px;
  background-color: #dc3545;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 24px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.close-modal-button:hover {
  background-color: #b02a37;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Animasyonlar */
@keyframes modalFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes modalFadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}

/* Modal açılma ve kapanma animasyonu */
.animate-modal {
  animation: modalFadeIn 0.6s forwards;
}

.modal-backdrop.closing .modal-content {
  animation: modalFadeOut 0.6s forwards;
}
